@media (min-width: 1921px) {
    .intro-block::before {
        width: 100%;
        background-size: cover;
    }

    .resting::before {
        width: 100%;
        background-size: cover;
        top: -75px;
    }

    .resting::after {
        width: 100%;
        background-size: cover;
    }

    .location__map-wrap {
        margin-left: -54%;
    }

    .view::before {
        width: 100%;
        background-size: cover;
        top: -56px;
    }

    .view::after {
        width: 100%;
        background-size: cover;
        bottom: -190px;
    }

    .conditions::before {
        width: 100%;
        background-size: cover;
        bottom: -112px;
    }

    .flight::before {
        width: 100%;
        background-size: cover;
    }

    .flight::after {
        width: 100%;
        background-size: cover;
    }

    .flight {
        background-position: top;
    }
}

@media (max-width: 1500px) {
   .location .parallax-item:nth-child(4) {
        left: 25px !important;
   }

   .variants .parallax-item:nth-child(1) {
        right: -125px !important;
   }

   .conditions .parallax-item:nth-child(2) {
        left: 0 !important;
        top: -50px !important;
   }

}

@media (max-width: 1360px) {
    .variants .parallax-item:nth-child(1) {
        right: -175px !important;
    }

    .location .parallax-item:nth-child(1) {
        top: 750px !important;
        left: -57px !important;
    }

    .location .parallax-item:nth-child(1) img {
        display: block;
        width: 150px;
    }

    .location .parallax-item:nth-child(4) {
        left: 10px !important;
    }

    .location .parallax-item:nth-child(2) img {
        display: block;
        width: 170px;
    }

    .location .parallax-item:nth-child(2) {
        top: 380px !important;
    }
}

@media (max-width: 1279px) {
    .variants .parallax-wrap {
        display: none;
    }

    .contacts .parallax-wrap {
        display: none;
    }

    .panorama__content {
        height: 800px;
    }

    .panorama .intro__video-content {
        margin-top: -110px;
    }

    .title-block__title {
        font-size: 58px;
        line-height: 68px;
    }

    .intro__title {
        font-size: 60px;
        line-height: 72px;
    }

    .intro-block .parallax-item:nth-child(1) {
        left: -185px !important;
    }

    .title-block__text {
        font-size: 24px;
        line-height: 34px;
    }

    .location .parallax-wrap {
        display: none;
    }

    .intro__list {
        margin-left: 20px;
    }

    .panorama .parallax-item:nth-child(1) {
        top: 251px !important;
        left: 46% !important
    }
}

@media (max-width: 1179px) {
    .title-block__title {
        font-size: 54px;
        line-height: 64px;
    }

    .location .title-block {
        max-width: 810px;
        width: 100%;
    }

    .location__content-title p {
        font-size: 24px;
    }

    .title-block__text {
        font-size: 23px;
        line-height: 33px;
    }

    .resting__item {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .resting__item::before {
        width: 87%;
    }

    .view .parallax-item:nth-child(1) {
        left: 59% !important;
    }

    .conditions .parallax-item:nth-child(1) img {
        display: block;
        width: 70px;
    }

    .conditions .parallax-item:nth-child(1) {
        left: 50% !important;
    }

    .deals__documents {
        margin-right: 0;
        margin-left: 40px;
    }

    .resting__description {
        margin-right: 0;
    }

    .location__content {
        width: 40%;
    }

    .location__map-wrap {
        margin-left: -45%;
    }

    .conditions .parallax-item:nth-child(2) {
        left: 40px !important;
    }

    .flight .container {
        padding-bottom: 70px;
    }

    .contacts .container {
        padding-top: 80px;
    }

    .deals .container {
        padding-top: 80px;
    }

    .variants .container {
        padding-top: 80px;
    }

    .view {
        margin-top: 80px;
    }

    .panorama .container {
        padding-top: 80px;
    }

    .about__item-img img {
        display: block;
        width: 200px;
    }

    .about__item-ammount {
        font-size: 64px;
        left: 13px;
        top: 114px
    }

    .variants__item-img img {
        max-width: 180px;
    }

    .variants__item-img {
        min-height: 252px;
    }

    .panorama .parallax-item:nth-child(1) {
        top: 225px !important;
        left: 46% !important
    }
}

@media (max-width: 1079px) {
    .about__item p {
        font-size: 17px;
    }

    .resting__item-text p {
        font-size: 17px;
    }

    .header__tel {
        font-size: 17px;
        margin-right: 28px;
    }

    .deals__item p {
        font-size: 17px;
    }

    .deals__item {
        max-width: 350px;
    }

    .resting__description {
        font-size: 23px;
        line-height: 33px;
    }

    .conditions__item-text p {
        font-size: 17px;
    }

    .play-btn-wrap img {
        display: block;
        width: 100px;
    }

    .play-btn-wrap {
        width: 149px;
        height: 134px;
    }

    .location__content-title p {
        font-size: 23px;
    }

    .intro__video-content strong {
        font-size: 16px;
    }
}