@media (max-width: 1023px) {
    .header__logo {
        width: 123px;
        background-image: none;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .header__logo img {
        width: 98px;
    }

    .header__logo::before {
        background-position: top;
        height: 129px;
    }

    .header__logo span {
        font-size: 11px;
        padding-top: 5px;
    }

    .header__item {
        display: none;
    }

    .header__logo-content {
        max-width: 150px;
    }

    .intro__item strong {
        font-size: 17px;
    }

    .about__item:nth-child(2) {
        margin-right: 15px;
    }

    .about__item:nth-child(3) {
        margin-right: 15px;
    }

    .about__item-img img {
        width: 150px;
    }

    .about__item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    .about__item-img {
        min-height: 185px;
    }

    .about__list {
        padding-top: 35px;
    }

    .intro-block::before {
        bottom: -189px;
    }

    .intro__item {
        background-size: contain;
    }

    .intro-block .parallax-item:nth-child(1) {
        position: absolute;
        top: -137px !important;
    }

    .intro-block .parallax-item:nth-child(2) {
        position: absolute;
        top: -37px !important;
    }

    .intro .container {
        padding-top: 90px;
    }

    .resting__description {
        font-size: 20px;
        line-height: 30px;
        padding-left: 20px;
        padding-right: 20px;
        max-width: 206px;
    }

    .resting .container {
        padding-top: 110px;
    }

    .resting__item-text {
        height: 200px;
    }

    .resting__item-text p {
        font-size: 16px;
    }

    .panorama .play-btn-wrap {
        margin: 0 auto;
    }

    .location__content-title p {
        font-size: 22px;
        line-height: 32px;
    }

    .view .parallax-item:nth-child(1) {
        position: absolute;
        left: 78% !important;
    }

    .view .parallax-item:nth-child(1) img {
        display: block;
        width: 100px;
    }

    .view .parallax-item:nth-child(2) {
        position: absolute;
        left: 20px !important;
        top: 200px !important;
    }

    .view__item {
        max-width: 260px;
    }

    .view::after {
        bottom: -185px;
    }

    .view .container {
        padding-bottom: 199px;
    }

    .view__item::before {
        width: 87%;
    }

    .view__list {
        margin-left: 0;
        justify-content: center;
    }

    .variants__item-text p {
        font-size: 18px;
    }

    .variants .btn-main {
        margin-top: 90px;
    }

    .conditions__list {
        margin-left: 0;
    }

    .conditions__item:last-child {
        margin-left: 0;
    }

    .conditions .container {
        padding-bottom: 160px;
    }

    .conditions .parallax-item:nth-child(1) {
        position: absolute;
        left: 40% !important;
        top: 363px !important;
    }

    .conditions .parallax-item:nth-child(2) {
        position: absolute;
        top: -15px !important;
    }

    .form-content {
        max-width: 355px;
    }

    .deals__content {
        padding-top: 40px;
    }

    .deals__item {
        margin-right: 15px;
        padding-top: 30px;
        padding-bottom: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .deals__item-image img {
        display: block;
        width: 190px;
    }

    .contacts__content {
        max-width: 310px;
    }

    .contacts__content-wrap {
        padding: 20px;
        padding-top: 40px;
    }

    .about__item-ammount {
        font-size: 50px;
        left: 13%;
        top: 89px;
    }

    .popup-big {
        max-width: 856px;
    }

    .fancybox-slide--html .fancybox-close-small {
        right: 5px;
        top: 5px;
        color: #010101;
    }

    .popup__bird-1 {
        display: none;
    }

    .panorama .parallax-item:nth-child(1) {
        position: absolute;
        top: 225px !important;
        left: 45% !important
    }
}

@media (max-width: 879px) {
    .intro__title {
        font-size: 54px;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
    }

    .intro__content {
        max-width: none;
        text-align: center;
    }

    .intro .container {
        flex-direction: column;
        align-items: center;
    }

    .intro__list {
       justify-content: center;
       padding-top: 300px;
    }

    .intro__item {
        margin-right: 80px;

        &:last-child {
            margin-right: 0;
        }
    }

    .intro__video-content {
        margin-top: 55px;
    }

    .intro .play-btn-wrap {
        margin: 0 auto;
    }

    .intro-block .parallax-item:nth-child(2) {
        left: 42% !important;
        top: 237px !important;
    }

    .intro-block .parallax-item:nth-child(1) {
        left: -85px !important;
    }

    .about__list {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .about__item {
        width: 37%;
        max-width: none;
        margin-bottom: 30px;
    }

    .about__item:nth-child(2) {
        margin-right: 0;
    }

    .header .btn-main {
        max-width: 205px;
        min-width: 205px;
    }

    .intro__item {
        text-align: left;
    }

    .title-block__title {
        font-size: 48px;
        line-height: 58px;
    }

    .resting__list {
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .resting__item {
        width: 34%;
        max-width: none;
        margin-bottom: 50px;
    }

    .resting__item:nth-child(2n) {
        margin-right: 0;
    }

    .resting__item:nth-child(2) {
        margin-top: 0;
    }

    .resting__item:nth-child(3) {
        margin-top: 0;
    }

    .about .container {
        padding-bottom: 30px;
    }

    .resting .container {
        padding-bottom: 200px;
    }

    .resting::after {
        left: -200px;
    }

    .resting__item-text {
        height: 150px;
    }

    .title-block {
        text-align: center;
    }

    .resting .title-block {
        text-align: left;
    }

    .location__content {
        width: 38%;
    }

    .location__content-title p {
        font-size: 20px;
        line-height: 30px;
    }

    .location__content-title-wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .location__map-wrap {
        margin-left: -43%;
    }

    .location .container {
        padding-top: 40px;
    }

    .panorama .container {
        padding-top: 65px;
        padding-bottom: 40px;
    }

    .location .main-list li:last-child {
        padding-bottom: 0;
    }

    .view {
        margin-top: 60px;
    }

    .view::before {
        top: -16px;
    }

    .view .parallax-item:nth-child(1) {
        top: 190px !important;
    }

    .view .parallax-item:nth-child(1) img {
        width: 80px;
    }

    .view .title-block__text {
        margin-left: 0;
    }

    .variants__item {
        width: 34%;
        margin-bottom: 50px;
    }

    .variants__list {
        justify-content: space-around;
    }

    .variants__item-img {
        min-height: 230px;
    }

    .variants .btn-main {
        margin-top: 40px;
    }

    .conditions .container {
        flex-direction: column;
        align-items: center;
    }

    .conditions__content {
        max-width: none;
        margin-right: 0;
    }

    .conditions__item {
        margin: 0 auto;
        margin-bottom: 40px;
        box-shadow: 0px 0px 15.93px 11.07px rgba(162, 162, 162, 0.09);
    }

    .conditions__item:last-child {
        margin: 0 auto;
    }

    .form-content {
        max-width: 390px;
    }

    .conditions__list {
        margin-bottom: 20px;
    }

    .conditions::before {
        left: -200px;
    }

    .conditions .parallax-item:nth-child(1) {
        top: 222px !important;
        left: 86% !important;
    }

    .deals__item p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .flight .container {
        flex-direction: column;
        align-items: center;
    }

    .flight .main-list {
        margin: 0 auto;
    }

    .flight__list-title {
        margin-left: 0;
        text-align: center;
    }

    .conditions {
        background-size: inherit;
    }

    .flight {
        background-size: inherit;
    }

    .flight__content {
        margin-bottom: 70px;
    }

    .contacts__content {
        left: 20px;
    }

    .footer__info-content {
        flex-wrap: wrap;
    }

    .footer-links {
        max-width: none;
        width: 45%;
        order: 2;
    }

    .footer__social-list {
        order: 1;
        width: 100%;
        max-width: none;
        justify-content: flex-end;
    }

    .footer__contacts {
        order: 3;
    }

    .footer__info-content {
        align-items: flex-end;
    }

    .flight .container {
        z-index: 2;
        padding-top: 60px;
    }

    .contacts .container {
        padding-top: 60px;
    }

    .conditions::before {
        bottom: -106px;
    }

    .view::after {
        bottom: -225px;
    }

    .conditions .title-block__text {
        margin-left: 0;
    }

    .about__item-ammount {
        left: 24%;
    }

    .popup-big {
        max-width: 856px;
    }

    .popup-big .popup__container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .panorama .parallax-item:nth-child(1) {
        position: absolute;
        top: 175px !important;
        left: 45% !important
    }

    .intro-block .intro__video-content {
        position: absolute;
        top: 420px;
    }

    .intro .btn-main {
        margin-top: 50px;
    }


   
}

@media (max-width: 779px) {
    .resting__title-content {
        flex-direction: column;
        align-items: center;
    }

    .resting .title-block {
        margin-right: 0;
        text-align: center;
    }

    .title-block__title {
        font-size: 46px;
        line-height: 56px;
    }

    .location__main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .location__content {
        width: 100%;
    }

    .location .main-list {
        margin: 0 auto;
    }

    .location__content-title {
        margin: 0 auto;
    }

    .location__map-wrap {
        margin-left: 0;
    }

    .panorama__content {
        height: 600px;
    }

    .intro__video-content strong {
        font-size: 14px;
    }

    .panorama .intro__video-content strong {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .panorama .intro__video-content {
        margin-top: 0;
        margin-right: 0;
    }

    .view {
        background-size: inherit;
        background-position: bottom;
    }

    .view::before {
        top: -112px;
        left: -100px;
    }

    .view .container {
        padding-bottom: 145px;
    }

    .deals .container {
        padding-top: 60px;
    }

    .deals__content {
        flex-direction: column;
        align-items: center;
    }

    .deals__documents {
        margin-left: 0;
        text-align: center;
        margin-top: 50px;
    }

    .deals__document-item {
        align-items: center;
        margin-bottom: 40px;
    }

    .footer .container {
        flex-direction: column;
    }

    .footer__logo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .view .title-block__text {
        text-shadow: 0 0 30px #fff,0 0 30px #fff,0 0 30px #fff,0 0 30px #fff,0 0 30px #fff,0 0 30px #fff;
    }

    .intro-block .parallax-item:nth-child(2) {
       left: 35% !important;
       top: 260px !important;
    }

    .resting__item {
        width: 38%;
    } 

    .variants__item {
        width: 100%;
        max-width: 300px;
    }

    .about__item-ammount {
        left: 15%;
    }

    .panorama .parallax-item:nth-child(1) {
        top: 135px !important;
        left: 32% !important;
    }
}

@media (max-width: 679px) {
    .header__info {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .header__tel {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .header .container {
        align-items: flex-start;
    }

    .btn-main--small {
        font-size: 12px;
    }

    .btn-main--small span {
        line-height: 41px;
    }

    .btn-main--small::before {
        height: 50px;
    }

    .btn-main--small:active::before {
        height: 50px;
    }

    .btn-main--small {
        max-width: 190px;
        min-width: 190px;
    }

    .intro__title {
        font-size: 50px;
    }

    .intro__title {
        max-width: 465px;
    }

    .intro__item {
        max-width: 200px;
        padding-top: 27px;
        padding-bottom: 27px;
        padding-right: 15px;
    }

    .intro .container {
        padding-top: 70px;
        padding-bottom: 140px;
    }

    .play-btn-wrap img {
        width: 80px;
    }

    .play-btn-wrap {
        width: 118px;
        height: 110px;
        border-radius: 38px;
    }

    .title-block__title {
        font-size: 42px;
        line-height: 52px;
    }

    .title-block__text {
        font-size: 22px;
        line-height: 32px;
    }

    .resting .container {
        padding-bottom: 110px;
    }

    .resting__list {
        padding-top: 40px;
    }

    .location .main-list li {
        padding-bottom: 40px;
    }

    .location .main-list {
        padding-top: 40px;
    }

    .panorama__content {
        height: 550px;
    }

    .resting__item {
        width: 42%;
    }

    .about__item-ammount {
        left: 10%;
    }

    .popup__bg {
        display: none;
    }

    .popup-big .popup__container {
        padding-left: 0;
        padding-right: 0;
    }

    .popup-big.form-content {
        max-width: 390px;
    }

    .popup.form-content {
        max-width: 390px;
    }

    .panorama .parallax-item:nth-child(1) {
        top: 123px !important;
        left: 29% !important;
    }
}

@media (max-width: 579px) {
    .intro__title {
        font-size: 46px;
    }

    .intro__item {
        margin-right: 40px;
    }

    .about .container {
        padding-top: 60px;
    }

    .resting__list {
        flex-direction: column;
        align-items: center;
    }

    .resting__item {
        max-width: 250px;
        width: 100%;
        margin-right: 0;
        box-shadow: 0px 0px 25px 5px rgba(162, 162, 162, 0.2);
    }

    .resting .container {
        position: relative;
        z-index: 2;
    }

    .resting__description {
        max-width: 274px;
        text-align: center;
    }

    .resting {
        background-size: inherit;
        background-position: center;
    }

    .resting .title-block__title {
        color: #1c1c1c;
    }

    .resting .title-block__title span {
        color: #12aeab;
    }

    .resting::after {
        bottom: 280px;
    }

    .resting .container {
        padding-bottom: 0px;
    }

    .intro__item {
        padding-left: 40px;
    }

    .footer__info-content {
        flex-direction: column;
        align-items: center;
    }

    .footer__social-list {
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .footer-links {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__contacts {
        margin-left: -32px;
    }

    .about__item-ammount {
        left: 1%;
    }

    .contacts .container {
        padding-bottom: 250px;
    }

    .contacts__content {
        left: 50%;
        transform: translate(-50%, 0);
        top: auto;
        bottom: -250px;
    }

    .contacts__item strong {
        padding-bottom: 10px;
    }

    .contacts__item {
        margin-bottom: 30px;
    }

    .contacts__content-wrap {
        padding-top: 20px;
    }

    .contacts__map-wrap {
        margin-top: 40px;
    }

    #map .map-zoom-in {
        display: none;
    }

    #map .map-zoom-out {
        display: none;
    }

    .resting .container {
        padding-top: 20px;
    }

    .popup__img-item {
        display: block;
        width: 120px;
    }

    .popup__img-1 {
        display: block;
        width: 50px;
    }

    .popup__img-2 {
        right: 10px;
        bottom: 65px;
    }

    .intro__title {
        max-width: 430px;
    }

    .contacts__map-wrap {
        height: 540px;
    }

    #map {
        height: 540px;
    }

    .panorama .parallax-item:nth-child(1) {
        top: 110px !important;
        left: 27% !important;
    }

    .intro__list {
        padding-top: 270px;
    }

    .intro-block .intro__video-content {
        top: 414px;
    }

    .intro-block .parallax-item:nth-child(2) {
       left: 35% !important;
       top: 240px !important;
    }
}

@media (max-width: 479px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__tel {
        padding-left: 25px;
        font-size: 15px;
    }

    .header__tel::before {
        width: 14px;
        height: 14px;
    }

    .btn-main--small {
        font-size: 10px;
    }

    .header .btn-main {
        max-width: 170px;
        min-width: 170px;
    } 

    .intro__title {
        font-size: 38px;
        line-height: 60px;
    }

    .intro__list {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .intro__item {
        margin: 0 auto;
        margin-bottom: 15px;
        right: -10px;
    }

    .intro__item:last-child {
        margin-bottom: 0;
        margin: 0 auto;
    }

    .intro__video-content {
        margin-top: 40px;
    }

    .title-block__title {
        font-size: 34px;
        line-height: 44px;
    }

    .about .container {
        padding-top: 50px;
    }

    .about__list {
        flex-direction: column;
        align-items: center;
    }

    .about__item {
        max-width: 235px;
        width: 100%;
        margin-right: 0;
    }

    .about__item:nth-child(3) {
        margin-right: 0;
    }

    .about__item-ammount {
        left: 40px;
    } 

    .view__item {
        margin: 0 auto;
        max-width: 250px;
        margin-bottom: 45px;
    }

    .view__item:nth-child(2) {
        margin: 0 auto;
        margin-bottom: 0;
    }

    .variants .container {
        padding-top: 50px;
    }

    .variants__list {
        padding-top: 40px;
    }

    .variants .btn-main {
        margin-top: 0px;
    }

    .deals__list {
        flex-direction: column;
        align-items: center;
    }

    .deals__item {
        max-width: 260px;
        margin-bottom: 20px;
        margin-right: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .deals .container {
        padding-top: 40px;
    }

    .flight .container {
        padding-top: 30px;
    }

    .title-block__text {
        font-size: 20px;
        line-height: 30px;
    }

    .flight::after {
        left: -100px;
    }

    .conditions__item-text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .conditions__item-text p {
        font-size: 16px;
        line-height: 24px;
    }

    .conditions__item-img {
        min-width: 110px;
        max-width: 110px;
    }

    .conditions__item:first-child img {
        display: block;
        width: 80px;
    }

    .conditions__item:nth-child(2) img {
        display: block;
        width: 80px;
    } 

    .form-content__wrap {
        padding-top: 38px;
        padding-bottom: 38px;
    }

    .flight .form-content {
        margin-top: 158px;
    }

    .intro__title {
        max-width: 367px;
    }

    .panorama .parallax-item:nth-child(1) {
        left: 19% !important;
    }

    .intro__list {
        padding-top: 270px;
    }

    .intro-block .intro__video-content {
        top: 380px;
    }

    .intro-block .parallax-item:nth-child(2) {
        left: 29% !important;
        top: 200px !important;
    }

    .intro-block .parallax-item:nth-child(1) {
        left: -141px !important;
        top: -167px !important;
    }
}

@media (max-width: 374px) {
    .title-mask {
        padding-left: 5px;
        padding-right: 5px;
    }

    .location__content-title-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .intro__title {
        max-width: 338px;
    }

    .panorama .parallax-item:nth-child(1) {
        left: 15% !important;
    }
}

@media (max-width: 349px) {
    .conditions .parallax-item:nth-child(1) {
        display: none;
    }

    .view .parallax-item:nth-child(1) img {
        width: 70px;
    }

    .intro__title {
        font-size: 35px;
    }

    .header .container {
        padding-left: 0;
        padding-right: 5px;
    }

    .intro__title {
        max-width: 300px;
    } 
}