.parallax-wrap {
  position: absolute !important;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  top: 0;
}

.intro-block .parallax-item:nth-child(1) {
	top: -90px !important;
	left: -160px !important;
}

.intro-block .parallax-item:nth-child(2) {
	top: 20px !important;
	left: auto !important;
	right: -300px !important;
}

.view .parallax-item:nth-child(1) {
	top: 100px !important;
	left: 53% !important;
}

.view .parallax-item:nth-child(2) {
	top: 120px !important;
	left: -155px !important;
}

.variants .parallax-wrap {
	z-index: 1;
}

.variants .parallax-item:nth-child(1) {
	top: 70px !important;
	left: auto !important;
	right: -10px !important;
	width: 262px;
	margin-left: auto;
}

.conditions .parallax-item:nth-child(1) {
	top: 380px !important;
	left: 47% !important;
}

.conditions .parallax-item:nth-child(2) {
	top: 80px !important;
	left: -200px !important;
}

.contacts .parallax-item:nth-child(1) {
	top: 370px !important;
	left: auto !important;
	right: -10px !important;
	width: 211px;
	margin-left: auto;
}

.contacts .parallax-item:nth-child(2) {
	top: 220px !important;
	left: auto !important;
	right: 120px !important;
	width: 94px;
	margin-left: auto;
}

.location .parallax-item:nth-child(1) {
	top: 700px !important;
	left: -50px !important;
}

.location .parallax-item:nth-child(2) {
	top: 200px !important;
	left: auto !important;
	right: 0 !important;
}

.location .parallax-item:nth-child(3) {
	top: 310px !important;
	left: auto !important;
	right: 20% !important;
}

.location .parallax-item:nth-child(3) img {
	display: block;
	width: 40px;
}

.location .parallax-item:nth-child(4) {
	top: 750px !important;
	left: 70px !important;
}

.panorama .parallax-item:nth-child(1) {
	top: 346px !important;
    left: 48% !important;
}