@import "normalize";
@import "variables";
@import "parallax";
@import "fancybox";



@font-face {
    font-family: 'Museo Cyrl 300';
    src: url('../fonts/subset-MuseoCyrl-300.woff2') format('woff2'),
        url('../fonts/subset-MuseoCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/subset-Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/subset-Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/subset-Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/subset-Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/subset-Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/subset-Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  position: relative;
  max-width: 1210px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main-wrap {
  overflow: hidden;
}

.intro-block {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    bottom: -210px;
    left: 0;
    background-image: url("../img/sky-1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 553px;
    width: 1920px;
    pointer-events: none;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
  display: block;
  width: 162px;
  background-image: -moz-linear-gradient( 90deg, rgb(37,163,160) 0%, rgb(7,181,177) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(37,163,160) 0%, rgb(7,181,177) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(37,163,160) 0%, rgb(7,181,177) 100%);
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0;
    top: -1px;
    background-size: contain;
    background-image: url("../img/logo-mask.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
}

.header__logo img {
  display: block;
  width: 123px;
  margin: 0 auto;
}

.header__logo span {
  display: block;
  padding-top: 8px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.header__logo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 470px;
  width: 100%;
}

.header__item {
  display: flex;
  align-items: center;
  max-width: 228px;
  width: 100%;
}

.header__item img {
  margin-right: 23px;
}

.header__item-text strong {
  display: block;
  font-size: 16px;
  color: #fff19b;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding-bottom: 4px;
}

.header__item-text p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.15em;
}

.header__info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__tel {
  display: block;
  position: relative;
  font-size: 19px;
  color: #fefefe;
  letter-spacing: 0.15em;
  font-weight: 500;
  padding-left: 33px;
  margin-right: 38px;
  white-space: nowrap;
  text-shadow: 0 0 30px #a8a8a8,0 0 30px #a8a8a8,0 0 30px #a8a8a8,0 0 30px #a8a8a8,0 0 30px #a8a8a8,0 0 30px #a8a8a8;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../img/tel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
  }
}

.header .btn-main {
  max-width: 235px;
  min-width: 235px;
}

.btn-main {
  position: relative;
  display: block;
  max-width: 300px;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  font-weight: 500;
  transition: ease 0.5s;
  border-radius: 60px;
  box-shadow: 0px 4px 0px 0px rgba(243, 184, 84, 0.004);


  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 79px;
    background-color: #f3b854;
    border-radius: 60px;
    z-index: 1;
    transition: ease 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 94%;
    height: 79px;
    z-index: -2;
    border-radius: 60px;
  }

  &:hover {
    transform: translate(0px, -3px);
    transition: ease 0.3s;
  }

  &:active {
    transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
    transition: ease 0.2s;
    &::before {
      height: 75px;
      transition: ease 0.2s;
    }
  }
}

.btn-main:hover span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(254,174,49) 0%, rgb(255,248,166) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(254,174,49) 0%, rgb(255,248,166) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(254,174,49) 0%, rgb(255,248,166) 100%);
  opacity: 1;
  border-radius: 60px;
  z-index: -1;
  animation: gradient 1s linear infinite alternate;
  animation-delay: 0.5s;
}

.btn-main span {
  display: inline-block;
  position: relative;
  width: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(255,190,87) 0%, rgb(255,248,166) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(255,190,87) 0%, rgb(255,248,166) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(255,190,87) 0%, rgb(255,248,166) 100%);
  line-height: 70px;
  border-radius: 60px;
  padding-top: 5px;
  z-index: 2;
  will-change: transform;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -moz-linear-gradient( 90deg, rgb(254,174,49) 0%, rgb(255,248,166) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(254,174,49) 0%, rgb(255,248,166) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(254,174,49) 0%, rgb(255,248,166) 100%);
    transition: ease 0.3s;
    opacity: 0;
    border-radius: 60px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px -3px 9px 0px rgba(255, 255, 255, 0.5);
    border-radius: 60px;
  }
}

.btn-main--small::before {
  height: 70px;
}

.btn-main--small span {
  line-height: 61px;
}

.btn-main--small:active::before {
  height: 70px;
}

.btn-main--col span {
  display: inline-block;
  line-height: 22px;
  padding-top: 20px;
  padding-bottom: 14px;
}

.btn-main--col:hover p span::before {
  height: 89px;
  top: -12px;
}

.btn-main--col::before {
  height: 82px;
}

.btn-main--col p span::before {
  height: 89px;
  top: -12px;
}

.btn-main--col:active {
  transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
  transition: ease 0.2s;
  &::before {
    height: 82px;
    transition: ease 0.2s;
  }
}

.intro .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 140px;
  padding-bottom: 165px;
}

.intro__content {
  position: relative;
  z-index: 1;
  max-width: 550px;
  width: 100%;
  margin-left: 0px;
}

.intro__title {
  font-size: 64px;
  color: #1c1c1c;
  line-height: 82px;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.title-mask {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(-10deg);
    background-color: #fff;
    z-index: -1;
    border-radius: 4px;
    background-image: -moz-linear-gradient( 90deg, rgb(37,163,160) 0%, rgb(7,181,177) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(37,163,160) 0%, rgb(7,181,177) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(37,163,160) 0%, rgb(7,181,177) 100%);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transform: skewX(-10deg);
    box-shadow: inset 0px -1px 20px 0px rgba(255, 255, 255, 0.5);
  }
}

.title-arrows::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 52%;
  transform: translate(-50%, 0);
  border: 5px solid transparent;
  border-bottom: 7px solid #fff;
}

.title-arrows::after {
  content: "";
  position: absolute;
  top: 0;
  left: 52%;
  transform: translate(-50%, 0);
  border: 5px solid transparent;
  border-top: 7px solid #fff;
}

.intro__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 90px;
}

.intro__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 225px;
  width: 100%;
  padding-right: 28px;
  padding-left: 50px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.intro__item:nth-child(2) {
  margin-top: 40px;
}

.intro__item strong {
  font-size: 19px;
  color: #010101;
  letter-spacing: 0.05em;
  font-weight: 500;
  text-transform: uppercase;
}

.intro__item p {
  font-size: 16px;
  padding-top: 6px;
  color: #010101;
}

.number-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 55px;
  height: 61px;
}

.intro__item .number-item {
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translate(0, -50%);
}

.number-item span {
  font-family: 'Museo Cyrl 300', sans-serif;
  font-size: 23px;
  color: #fefefe;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.intro__item--white strong {
  color: #fff;
}

.intro__item strong span {
  font-size: 14px;
  font-weight: 400;
}

.intro__item--white p {
  color: #fff;
}

.intro__video-content {
  position: relative;
  max-width: 275px;
  width: 100%;
  margin-top: 98px;
  z-index: 1;
}

.intro__video-content strong {
  display: block;
  font-size: 20px;
  width: 135px;
  margin-left: auto;
  color: #797979;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 24px;
}

.intro .play-btn-wrap {
  margin-right: 100px;
}

.play-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 143px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50px;
  transition: ease 0.3s;

  &:hover {
    background-color: rgba(255,255,255,0.7);
    transition: ease 0.3s;
  }
}

.about .title-block {
  text-align: center;
}

.title-block__title {
  font-size: 64px;
  color: #1c1c1c;
  letter-spacing: 0.02em;
  line-height: 74px;
  font-weight: 400;
}

.title-block__title span {
  color: #12aeab;
  font-weight: 500;
}

.title-block__text {
  font-size: 25px;
  line-height: 40px;
  color: #a8a8a8;
  padding-top: 20px;
}

.about__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 57px;
}

.about .container {
  padding-top: 75px;
  padding-bottom: 60px;
}

.about__item {
  position: relative;
  max-width: 235px;
  width: 100%;
  text-align: center;
}

.about__item p {
  font-size: 18px;
  color: #5b5b5b;
  line-height: 27px;
}

.about__item:nth-child(2) {
  margin-right: -50px;
}

.about__item:nth-child(3) {
  margin-right: -90px;
}

.about__item-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 253px;
  margin-bottom: 18px;
}

.about__item-ammount {
  position: absolute;
  font-size: 84px;
  color: #000;
  font-weight: 500;
  left: -12px;
  top: 80px;
  opacity: 0.05;
  transform: rotate(-90deg);
}

.resting {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    background-image: url("../img/rest-sky-1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 442px;
    width: 1920px;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -120px;
    left: -1px;
    background-image: url("../img/rest-sky-2.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 491px;
    width: 1920px;
    pointer-events: none;
  }
}

.resting .container {
  padding-top: 140px;
  padding-bottom: 270px;
}

.resting .title-block {
  max-width: 660px;
  width: 100%;
}

.resting .title-block__title {
  color: #fff;
}

.resting .title-block__title span {
  color: #fff;
}

.resting__title-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.resting__description {
  font-size: 25px;
  line-height: 35px;
  color: #7a7a7a;
  background-color: rgb(233, 244, 255);
  box-shadow: 0px 0px 15.93px 11.07px rgba(223, 223, 223, 0.14);
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  padding: 20px 40px;
  margin-right: 60px;
  margin-top: 30px;
}

.resting__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 62px;
}

.resting__item {
  position: relative;
  max-width: 274px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 238px;
    height: 14px;
    bottom: -14px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 15.93px 11.07px rgba(223, 223, 223, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255,255,255,0.6);
  }
}

.resting__item:nth-child(2) {
  margin-top: 30px;
}

.resting__item:nth-child(3) {
  margin-top: 30px;
}

.resting__item-img {
  overflow: hidden;
  border-radius: 4px;
}

.resting__item-img img {
  width: 100%;
  display: block;
  border-radius: 4px;
}

.resting__item-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15.93px 11.07px rgba(223, 223, 223, 0.15);
  height: 172px;
  padding: 0 20px;
}

.resting__item-text p {
  font-size: 18px;
  line-height: 27px;
  color: #5b5b5b;
}

.resting__item-text p span {
  font-weight: 500;
}

.view {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 100px;

  &::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    background-image: url("../img/view-sky.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 483px;
    width: 1920px;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -210px;
    left: 0;
    background-image: url("../img/sky-1.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 553px;
    width: 1920px;
    pointer-events: none;
  }
}

.view .container {
  padding-bottom: 255px;
}

.view .title-block__text {
  margin-left: 49px;
  color: #6b6b6b;
}

.view__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: 45px;
  padding-top: 65px;
}

.view__item {
  position: relative;
  max-width: 282px;
  width: 100%;
  margin-right: 118px;

  &:last-child {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 252px;
    height: 11px;
    bottom: -11px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 15.93px 11.07px rgba(223, 223, 223, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(255,255,255,0.6);
  }
}

.view__item:nth-child(2) {
  margin-top: 55px;
}

.view__item-img {
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.view__item-img img {
  display: block;
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.view__item-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  height: 153px;
  padding-left: 38px;
  padding-right: 38px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.view__item-text p {
  font-size: 16px;
  line-height: 27px;
  color: #5b5b5b;
}

.view__item-text p span {
  font-weight: 500;
}

.view__item .number-item {
  position: absolute;
  left: -26px;
  top: 50%;
  transform: translate(0, -50%);
}

.variants {
  position: relative;
}

.variants .container {
  padding-top: 90px;
  padding-bottom: 45px;
}

.variants__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 65px;
}

.variants__item {
  text-align: center;
  width: 25%;
}

.variants__item-text p {
  font-size: 19px;
  line-height: 30px;
  color: #444444;
  letter-spacing: 0.05em;
}

.variants__item-text span {
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #444444;
  letter-spacing: 0.05em;
}

.variants__item-text sup {
  font-weight: 400;
  font-size: 12px;
}

.variants__price {
  font-size: 16px;
  color: #17b7b2;
  font-weight: 500;
  padding-top: 15px;
}

.variants__item-img {
  display: flex;
  align-items: center;
  min-height: 308px;
}

.variants .btn-main {
  display: block;
  margin: 0 auto;
  margin-top: 113px;
}

.conditions {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    bottom: -130px;
    left: -1px;
    background-image: url(../img/rest-sky-2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 491px;
    width: 1920px;
    pointer-events: none;
  }
}

.conditions .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 215px;
  padding-top: 68px;
  z-index: 2;
}

.conditions__content {
  position: relative;
  max-width: 585px;
  width: 100%;
  margin-right: 30px;
}

.conditions .title-block__text {
  margin-left: 47px;
  color: #6a6a6a;
}

.conditions__list {
  margin-left: 4px;
  padding-top: 48px;
}

.conditions__item {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 480px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 63px;

  &::before {
    content: "";
    position: absolute;
    max-width: 465px;
    width: 100%;
    left: 50%;
    bottom: -9px;
    height: 9px;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    max-width: 440px;
    width: 100%;
    left: 50%;
    bottom: -18px;
    height: 9px;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &:last-child {
    margin-bottom: 0;
    margin-left: 75px;
  }
}

.conditions__item:last-child .conditions__item-img {
  align-items: flex-end;
}

.conditions__item:first-child img {
  margin-bottom: -18px;
}

.conditions__item-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  max-width: 135px;
  height: 140px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: -moz-linear-gradient( -90deg, rgb(255,238,182) 0%, rgb(250,209,91) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(255,238,182) 0%, rgb(250,209,91) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(255,238,182) 0%, rgb(250,209,91) 100%);

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    border: 6px solid transparent;
    border-right: 7px solid #fff;
  }
}

.conditions__item-text {
  padding-left: 30px;
  padding-right: 20px;
}

.conditions__item-text p {
  font-size: 18px;
  line-height: 27px;
  color: #5b5b5b;
}

.conditions .form-content {
  margin-top: 50px;
}

.form-content {
  max-width: 390px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15.93px 11.07px rgba(162, 162, 162, 0.09);
  padding: 8px;
}

.form-content__wrap {
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding-top: 48px;
  padding-bottom: 58px;
}

.form-content__title {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #010101;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
}

.form-content__subtitle {
  font-size: 16px;
  color: #5b5b5b;
  text-align: center;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 27px;
}

.form-content__form {
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.form-content__field {
  margin-bottom: 22px;

  &:last-of-type {
    margin-bottom: 30px;
  }
}

.form-content__field input {
  width: 100%;
  height: 74px;
  font-size: 13px;
  color: #010101;
  letter-spacing: 0.1em;
  font-weight: 500;
  border-radius: 37px;
  background-color: rgb(249, 249, 249);
  padding-left: 45px;
  padding-right: 45px;

  &::placeholder {
    color: #8b8b8b;
    text-transform: uppercase;
    opacity: 1;
  }
}

.form-content__description {
  font-size: 13px;
  line-height: 20px;
  color: #8b8b8b;
  font-weight: 500;
  text-align: center;
  padding-top: 28px;
}

.form-content__description a {
  color: #f3b854;
  line-height: 13px;
  border-bottom: 1px solid #f9dba9;
  transition: ease 0.3s;

  &:hover {
    color: #fecf7e;
    transition: ease 0.3s;
    border-bottom: 1px solid #fedca5;
  }
}

.deals {
  position: relative;
}

.deals .container {
  padding-top: 105px;
  padding-bottom: 35px;
}

.deals .title-block {
  text-align: center;
}

.deals__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 77px;
  padding-bottom: 70px;
}

.deals__list {
  display: flex;
  justify-content: space-between;
  max-width: 780px;
  width: 100%;
}

.deals__item {
  max-width: 365px;
  width: 100%;
  box-shadow: 0px 0px 15.93px 11.07px rgba(223, 223, 223, 0.12);
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.deals__item p {
  font-size: 18px;
  color: #5b5b5b;
  line-height: 27px;
  padding-left: 40px;
  padding-right: 40px;
}

.deals__item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 218px;
}

.deals__documents {
  max-width: 215px;
  width: 100%;
  margin-right: 67px;
}

.deals__document-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 70px;

  &:last-child {
    margin-bottom: 0;
  }
}

.deals__documents-file {
  position: relative;
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 1;
  padding: 4px 7px;
  padding-bottom: 2px;
  margin-bottom: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(-9deg);
    background-color: #fff;
    z-index: -1;
    border-radius: 4px;
    background-color: #f54347;
  }
}

.deals__document-link {
  font-size: 16px;
  line-height: 23px;
  color: #5b5b5b;
  transition: ease 0.3s;
  text-decoration: underline;
  text-decoration-color: #adadad;

  &:hover {
    transition: ease 0.3s;
    text-decoration-color: transparent;
  }
}

.deals .btn-main {
  display: block;
  margin: 0 auto;
}

.flight {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../img/flight-sky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    top: -130px;
    width: 1920px;
    height: 483px;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -190px;
    left: 0;
    background-image: url('../img/sky-1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 553px;
    width: 1920px;
    pointer-events: none;
  }
}

.flight .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 155px;
  padding-top: 85px;
}

.flight__content {
  max-width: 585px;
  width: 100%;
}

.flight__list-title {
  display: block;
  padding-top: 55px;
  font-size: 22px;
  line-height: 31px;
  color: #484848;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 42px;
}

.flight .main-list {
  max-width: 340px;
  width: 100%;
  padding-top: 28px;
  margin-left: 42px;
}

.flight .title-block__text {
  color: #6a6a6a;
}

.main-list li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  color: #5b5b5b;
  line-height: 27px;
  padding-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 2px solid #27b9b4;
    border-radius: 50%;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.flight .form-content {
  margin-top: 110px;
}

.contacts {
  position: relative;
}

.contacts .title-block {
  text-align: center;
}

.contacts__map-wrap {
  position: relative;
  height: 740px;
  margin-top: 75px;
}

#map {
  width: 100%;
  height: 740px;
}

.contacts__content {
  position: absolute;
  max-width: 380px;
  width: 100%;
  left: 50px;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 15.93px 11.07px rgba(223, 223, 223, 0.12);
  padding: 8px;
}

.contacts .container {
  padding-top: 105px;
}

.contacts__content-wrap {
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
}

.contacts__item strong {
  display: block;
  font-size: 14px;
  letter-spacing: 0.15em;
  color: #010101;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 17px;
}

.contacts__item {
  margin-bottom: 39px;
}

.contacts__item p {
  font-size: 16px;
  color: #5b5b5b;
  padding-bottom: 9px;

  &:last-of-type {
    padding-bottom: 0;
  } 
}

.contacts__item a {
  font-size: 16px;
  color: #5b5b5b;
}

.footer {
  position: relative;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__logo {
  text-align: center;
  display: block;
  min-width: 123px;
  max-width: 123px;
  margin-right: 80px;
}

.footer__logo img {
  display: block;
  width: 100%;
}

.footer__logo span {
  display: block;
  font-size: 13px;
  line-height: 16px;
  color: #676767;
  letter-spacing: 0.05em;
  font-weight: 500;
  padding-top: 8px;
}

.footer__info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 865px;
  width: 100%;
}

.footer-links {
  max-width: 240px;
  width: 100%;
}

.footer-links a {
  font-size: 14px;
  line-height: 26px;
  color: #7e7e7e;
  transition: ease 0.3s;

  &:hover {
    color: #000;
    transition: ease 0.3s;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__tel {
  position: relative;
  font-size: 19px;
  color: #565656;
  font-weight: 500;
  letter-spacing: 0.15em;
  padding-left: 32px;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../img/tel.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    left: 0;
    top: 1px;
  }
}

.footer__mail {
  font-size: 16px;
  color: #5b5b5b;
  margin-top: 6px;
}

.footer__social-list {
  display: flex;
  align-items: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  transition: ease 0.3s;
  border: 1px solid transparent;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__social svg path {
  transition: ease 0.3s;
}

.footer__social.vk {
  background-color: #456cac;

  &:hover {
    border: 1px solid #456cac;
    transition: ease 0.3s;
    background-color: #fff;
  }

  &:hover svg path {
    fill: #456cac;
    transition: ease 0.3s;
  }
}

.footer__social.fb {
  background-color: #3e5797;

  &:hover {
    border: 1px solid #3e5797;
    transition: ease 0.3s;
    background-color: #fff;
  }

  &:hover svg path {
    fill: #3e5797;
    transition: ease 0.3s;
  }
}

.footer__social.inst {
  background-color: #973e96;

  &:hover {
    border: 1px solid #973e96;
    transition: ease 0.3s;
    background-color: #fff;
  }

  &:hover svg path {
    fill: #973e96;
    transition: ease 0.3s;
  }
}

.panorama {
  position: relative;
  z-index: 2;
}

.panorama .container {
  padding-top: 107px;
  padding-bottom: 65px;
}

.panorama .title-block__title {
  position: relative;
  display: inline;

  &::before {
    content: '';
    position: absolute;
    right: -150px;
    top: 40px;
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 101px;
    height: 173px;
  }
}

.panorama__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.panorama__content .intro__video-content {
  margin-top: 0;
  margin-right: -50px;
  margin-top: -20px;
}

.location {
  position: relative;
}

.location .title-block {
  max-width: 880px;
  width: 100%;
}

.location__content {
  position: relative;
  width: 45%;
  margin-left: auto;

  &::before {
    content: '';
    position: absolute;
    background-image: url("../img/line-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 141px;
    top: 110px;
    left: 28px;
    z-index: 1;
  }
}

.location .container {
  padding-top: 75px;
}

.location__content-title {
  position: relative;
  z-index: 2;
  max-width: 455px;
  width: 100%;
  margin-left: auto;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0px 0px 19.72px 9.28px rgba(223, 223, 223, 0.14);
  background-color: #eeeeee;
}

.location__content-title-wrap {
  position: relative;
  border-radius: 10px;
  padding-left: 39px;
  padding-right: 30px;
  background-color: #17b7b2;
  padding-top: 29px;
  padding-bottom: 29px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -83px;
    background-image: url("../img/towers.png");
    width: 486px;
    height: 274px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.location__content-title p {
  position: relative;
  font-size: 25px;
  line-height: 35px;
  color: #ffffff;
  z-index: 2;
}

.location .main-list {
  max-width: 310px;
  width: 100%;
  margin-left: auto;
  margin-right: 75px;
  padding-top: 61px;
}

.popup .form-content__title {
  line-height: 30px;
}

.popup {
  position: relative;
  display: none;
}

.popup__bird {
  position: absolute;
  top: 40px;
  right: 0;
}

.popup__tree {
  position: absolute;
  display: block;
  width: 120px;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 10px;
}

.popup-big .form-content__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.popup .form-content__description {
  position: relative;
  z-index: 2;
}

.popup-big {
  max-width: 856px;
  width: 100%;
}

.popup__bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  width: 100%;
  margin-left: -9px;
  margin-bottom: -9px;
  margin-top: -9px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.popup__container {
  max-width: 420px;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 58px;
}

.popup__bird-1 {
  display: block;
  position: absolute;
  width: 50px;
  right: 40px;
  bottom: 170px;
  z-index: 2;
  pointer-events: none;
}

.popup__img-item {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  z-index: 1;
  pointer-events: none;
}

.popup__img-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px;
}

.popup__img-2 {
  display: block;
  width: 50px;
  position: absolute;
  bottom: 80px;
  right: 35px;
}

#popup-thanks .form-content__subtitle {
  padding-bottom: 0;
}

.fancybox-slide--html .fancybox-close-small {
  color: #fff;
  right: -45px;
  width: 38px;
  height: 38px;
  padding: 0;
  top: -8px;
  transition: ease 0.3s;
  opacity: 1;
}

.fancybox-button svg {
  width: 38px;
  height: 38px;
}

.fancybox-content {
    overflow: initial;
}

.fancybox-close-small {
  transition: ease 0.3s;
}

.fancybox-close-small:hover {
    opacity: 0.7;
    transition: ease 0.3s;
}

.location__map-wrap {
  position: relative;
  width: 100%;
  height: 595px;
  margin-left: -50%;
  margin-top: 45px;
}

#map-2 {
  width: 100%;
  height: 595px;
}

#marker-tooltip {
  display: none;
  position: absolute;
  z-index: 7;
  padding: 18px 20px;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin: 15px;
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.28);
  pointer-events: none;
  color: #7e7e7e;
  &:before {
    position: absolute;
    top: 100%;
    left: 15px;
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
  }
  strong {
    font-weight: 400;
  }
}


.map-zoom-in,
.map-zoom-out {
  position: relative;
  background: #17b7b2;
  transition: all 0.25s ease;
  cursor: pointer;
  &:before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: #fff;
    margin-top: -2px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.map-zoom-in {
  &:before {
    content: '+';
  }
}
.map-zoom-out {
  &:before {
    content: '-';
    font-size: 30px;
    margin-top: -2px;
  }
}

.location__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.location .main-list li {
  padding-bottom: 50px;
}

.about {
  position: relative;
  z-index: 2;
}

.resting .title-block {
  margin-right: 30px;
}

label.error {
  display: block;
  font-size: 14px;
  color: red;
  padding-left: 45px;
}


.popup-pano {
  display: none;
  width: 92%;
  height: 90%;
}


@keyframes glare {
    0% {
        right: 120%;
    }
    50% {
        right: -35%;
    }
    100% {
        right: -35%;
    }
}


.glare-btn {
  position: relative;
    overflow: hidden;
    .glare {
        position: absolute;
        width: 45px;
        height: 200%;
        -webkit-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
        transform: rotate(25deg);
        background-color: rgba(255,255,255,0.3);
        top: -50%;
        right: 120%;
        -webkit-transition: all 0.6s linear;
        transition: all 0.6s linear;

        animation: glare 2s infinite;
    }
    .glare:after {
        content: '';
        display: none;
        position: absolute;
        width: 20px;
        height: 100%;
        background: inherit;
        right: -15px;
        top: 0;
    }
    &:hover {
        .glare {
            opacity: 0;
        }
    }
}



.variants__item-img img {
  display: block;
  max-width: 210px;
  width: 100%;
  margin: 0 auto;
}

.fancybox-button--zoom {
  display: none !important;
}

.fancybox-button {
  background-color: transparent;
}

.intro .btn-main {
  margin-top: 90px;
  max-width: 350px;
}



@import "media-desktop";
@import "media-mobile";